= link_to board_path(board) do
  = board.title
  = board.content
  .board_detail_actions
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '------編集', edit_board_path(board)
        = link_to '------削除', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
